//mixins for different viewports

@mixin for-size($viewport) {
    @if $viewport == phone-only {
        @media (max-width:599px) {
            @content;
        }
    }
    @else if $viewport == tablet-portrait-up{
        @media (min-width:600px) {
            @content;
        }
    }
    @else if $viewport == tablet-landscape-up{
        @media (min-width:900px) {
            @content;
        }
    }
    @else if $viewport == desktop-up{
        @media (min-width:1200px) {
            @content;
        }
    }
    @else if $viewport == big-desktop-up{
        @media (min-width:1800px) {
            @content;
        }
    }
}

//additional styling for register page

.sign-up-page{
    .form-group{
        margin-bottom: 5px !important;
    }
    @include for-size(desktop-up){
        .form-group{
            margin-bottom: 20px !important;
        }
        .register-box{
            padding: 30px 40px !important;
            margin-bottom: 50px;
        }
    }
}
.clockpicker-am-pm-block{
    .clockpicker-button{
      min-width: 20px !important;
      background-color: #001a47;
      padding: 5px;
    }
  }
  
  .clockpicker{
    .input-group-addon{
      border: none !important;
      background: transparent !important;
      border-radius: 0px !important;
      border-bottom: 1px solid #11145b !important ;
    }
  }